
#remove html file extension https://example.com/page.html
# to https://example.com/page
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

#block access to the file blockedfile.html; permit access to all other files 
<files blocked.html>
Order Allow,Deny
Deny from all 
</files> 
