  * {
       font-family: opensans, Verdana, Arial, poppins;
       margin: 0;
       padding: 0;
       scroll-behavior: smooth;
       box-sizeing: border-box;
       scroll-padding-top: 20px;
       text-transformer: uppercase;
        list-style-type : none;
        }
        li {
            color: white;
        }
        .navi {
            padding: 8px;
            background-color: #1265A1;
            color: #FFFFFF;
        }
        .logo {
            background-color: #009EED;
            color: #ffffff;
            background-image: url();
            font-weight: bold;
            padding: 0 5px 0 5px;
            text-align: center;
            text-decoration: none;
         }  
        .logo img {
              height : 70px;
              width : 250px;
         }
        .post {
            margin: 10px;
            border-style : ridge;
            padding: 3px;
            
         }
        .navi ul li a {
              text-decoration: none;
              padding: 8px;
         }
        p {
           margin : 3px;
        }
        h4{text-align:center;}
        header{margin-bottom: 5px;}
        .item{
           padding: 5px;
           margin-top : 5px;
           margin-left: 1px;
           margin-bottom: 10px;
           background-color: rgb (25,57,67);
           border-style : ridge; 
        }
        .item a {
          padding:5px;
          text-decoration: none;
        }
        .update{
        	text-align: center;
            font-weight: bold;
            background-color: #EEF1F7;
            padding: 15px 30px;
        }
        #current_date{
        	display: inline-flex;
        }
        #current_day{
        	display: inline-flex;
        }
        #myquote{
        	color:pink;
            font-weight: 200;
        }
        footer{
        	background-color: #EEF1F7;
            padding-bottom: 40px;
            text-decoration: none;
        }
